{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
***
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      <a class="mylink" href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    <p>
      <img src="{{ base_path }}{{ post.pic }}" alt="{{  base_path }}" hspace="8" vspace="8" style="float:left; border:1px solid #ddd; border-radius: 4px; padding: 0px">
      {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.semester }}
    </p>

    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>

  </article>
</div>
