{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}
***
<div class="clearfix">
  <article itemscope itemtype="http://schema.org/CreativeWork">
    <div class="clearfix">
      <h2 class="archive__item-title" itemprop="headline">
        {{title}}
      </h2>
      <img src="{{ base_path }}{{ post.pic }}" alt="{{  base_path }}" style="margin: auto;max-width: 80%;display: block; border-radius: 4px; padding: 0px">
      <p>
        {{ post.description }}
      </p>
    </div>
  </article>
</div>
