{% include base_path %}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var mycontent = this.parentNode.nextElementSibling;
    var mycontent2 = mycontent.nextElementSibling;
    var mycontent3 = mycontent2.nextElementSibling;
    if (mycontent.style.maxHeight){
      mycontent.style.overflow = "hidden";
      mycontent.style.maxHeight = null;
    } else {
      mycontent.style.maxHeight = mycontent.scrollHeight + "px";
      mycontent.style.overflow = "auto";
      mycontent2.style.overflow = "hidden";
      mycontent2.style.maxHeight = null;
      mycontent3.style.maxHeight = null;
    }
  });
}
</script>

<script>
var coll = document.getElementsByClassName("collapsibleBib");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var mycontent = this.parentNode.nextElementSibling;
    var mycontent2 = mycontent.nextElementSibling;
    var mycontent3 = mycontent2.nextElementSibling;
    if (mycontent2.style.maxHeight){
      mycontent2.style.overflow = "hidden";
      mycontent2.style.maxHeight = null;
      mycontent3.style.maxHeight = null;
    } else {
      mycontent.style.overflow = "hidden";
      mycontent.style.maxHeight = null;
      mycontent2.style.maxHeight = mycontent.scrollHeight + "px";
      mycontent2.style.overflow = "auto";
      mycontent3.style.maxHeight= "30px"
    }
  });
}
</script>
