{% include base_path %}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var mycontent = this.parentNode.nextElementSibling;
    if (mycontent.style.maxHeight){
      mycontent.style.overflow = "hidden";
      mycontent.style.maxHeight = null;
    } else {
      mycontent.style.maxHeight = mycontent.scrollHeight + "px";
      mycontent.style.overflow = "auto";
    }
  });
}
</script>

<script>
var coll = document.getElementsByClassName("collapsibleBib");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    var mycontent = this.parentNode.nextElementSibling.nextElementSibling;
    if (mycontent.style.maxHeight){
      mycontent.style.overflow = "hidden";
      mycontent.style.maxHeight = null;
    } else {
      mycontent.style.maxHeight = mycontent.scrollHeight + "px";
      mycontent.style.overflow = "auto";
    }
  });
}
</script>
